= content_for :head do
  %script(src="https://js.stripe.com/v2/")
  :javascript
    Stripe.setPublishableKey("#{ENV['STRIPE_PUBLISHABLE_KEY']}");
  = javascript_include_tag 'payment_form'

%section.register.container
  .row
    .col-sm-10.col-sm-offset-1

      = bootstrap_form_for(@user, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-7", html: { id: 'payment-form'}) do |f|
        %header
          %h1 Register
        %fieldset
          - if !!@invite
            = hidden_field_tag :token, @invite.token
            = f.text_field :name, label: "Full Name", value: "#{@invite.name}"
            = f.email_field :email, label: "Email Address", value: "#{@invite.email}"
          -else
            = f.text_field :name, label: "Full Name"
            = f.email_field :email, label: "Email Address"
          = f.password_field :password
        %fieldset.credit_card
          %span.payment-errors
          .form-group
            = label_tag :credit_card_number, 'Credit Card Number', class: 'control-label col-sm-3'
            .col-sm-6
              = text_field_tag :credit_card_number, nil, name: nil, class: 'form-control', data: {stripe: 'number'}
          .form-group
            = label_tag :security_code, 'Security Code', class: 'control-label col-sm-3'
            .col-sm-6
              = text_field_tag :security_code, nil, name: nil, class: 'form-control', data: {stripe: 'cvc'}
          .form-group
            %label.control-label.col-sm-3 Expiration
            .col-sm-3
              = select_month(Date.today, {add_month_numbers: true},  class: 'form-control', data: {stripe: 'exp-month'})
            .col-sm-3
              = select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 4}, class: 'form-control card-expiry-year', data: {stripe: 'exp-year'})

        %fieldset.actions.control-group.col-sm-offset-3
          = f.submit 'Sign Up', class: 'btn btn-default submit_form'
